.githublink
  @media(max-width:768px)
    display: none

.search
  cursor: pointer
  @media(min-width:768.1px)
    display: none 
    

.searchtop
  position: relative
  @media(max-width:768px)
    display: none
  @media(min-width:768.1px)
    margin-left: 20px
    padding-bottom: 4px

.header
  @apply  bg-[#161B22] w-full h-20 

.cntanr
  @apply container flex justify-between items-center my-0 mx-auto  h-20 px-10
  
.input
  @apply text-[#393939] rounded-md my-5 w-[60%] md:w-[70%]  py-0.5 px-2 mr-3 

.fuzzy
  @apply grid grid-cols-1 bg-white  text-[#040D21] w-full  mt-0.5 px-2 py-1 rounded-md 

.button
  @apply bg-[#161B22] hover:bg-[#5B5B5B] active:bg-[#3b3b3b] border border-[#c4c4c4] transition duration-300 rounded-md px-2 py-0.5 text-[#c4c4c4] 

.collapse
  @apply bg-[#2F3134] border-none flex flex-col justify-center items-center

.collapsebutton
  @apply bg-[#2F3134] hover:bg-[#5B5B5B] active:bg-[#3b3b3b] border border-[#c4c4c4] transition duration-300 rounded-md px-2 py-1 text-[#c4c4c4] 